.categoryList{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categoryItem{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}
.travel{
    background-color: #ff7857;
}

.culture{
    background-color: #845215;
}

.food{
    background-color: #7fb881;
}

.fashion{
    background-color: #7fb881;
}

.coding{
    background-color: #775aec;
}
.style{
    background-color: #789cff;
}