.container {
}

.editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}

.button,
.addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--textColor);
    display: flex;
    cursor: pointer;
}

.addButton {
    background: rgb(102, 159, 18);
}

.add{
    display: flex;
    gap: 20px;
    border-radius: var(--bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;
}

.input{
    padding: 50px;
    font-size: 64px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
}

.input::placeholder{
    color: #b3b3b1;
}

.textArea {
    width: 100%;
}


.publish{
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color:white;
    cursor: pointer;
    border-radius: 10%;
    font-weight: bold;
}




.editor :global(.ProseMirror) {
    font-size: 28px;
    border: none;

    line-height: 1.6;
}

.editor :global(.ProseMirror p.is-editor-empty:first-child::before) {
    content: attr(data-placeholder);
    color: #b3b3b1;
    float: left;
    height: 0;
    border: none;
    pointer-events: none;
}

.editor :global(.ProseMirror) {
    outline: none;
    border: none;
    box-shadow: none;
}

.editor :global(.ProseMirror:focus) {
    outline: none;
}

.editor :global(.ProseMirror-focused) {
    outline: none;
    border: none;
}
